# import necessary libraries

In [28]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt

In [11]:
#merge those two csv files (after getting as dataframes, get them as a single dataframe

x = pd.read_csv("college_1.csv")
y = pd.read_csv("college_2.csv")

df1=pd.DataFrame(x)
df2=pd.DataFrame(y)
z=[df1,df2]
df3=pd.concat(z)

In [30]:
#Take each csv file , split that csv file into multiple categories
#consider if the codekata score exceeds 15000 points(present week) 
#then make a csv on those observations as Exceeded expectations.csv
#if 10000<codekata score<15000 (Reached_expectations.csv)
#if 7000<codekata score<10000 (Needs_Improvement.csv)
#if codekate score < 7000 (Unsatisfactory.csv)

In [31]:
#Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [32]:
Previous_Geekions_Average=df3['Previous Geekions'].mean()
CodeKata_Score_Average=df3['CodeKata Score'].mean()

In [33]:
print("Average of previous week geekions vs this week geekions is",
      +round(Previous_Geekions_Average,2),+round(CodeKata_Score_Average,2))

Average of previous week geekions vs this week geekions is 3842.35 4051.76

# No of students participated

In [16]:
sd=len(df3['Name'])
print("No of students participated are :",sd)

No of students participated are : 119

In [17]:
#Average completion of python course or my_sql or python english or computational thinking

In [18]:
python_average = df3["python"].mean()
mysql_average = df3["mysql"].mean()
python_english_average = df3["python_en"].mean()
computational_average = df3["computational_thinking"].mean()

print(python_average)
print(mysql_average)
print(python_english_average) 
print(computational_average)

54.35294117647059
23.5
29.65714285714286
2.2

# rising star of the week (top 3 candidate who performed well in that particular week)

In [20]:
Rising_star = df3.sort_values(by=['CodeKata Score'], ascending=False)
Rising_star.head(3)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN

# Shining stars of the week (top 3 candidates who has highest geekions)

In [22]:
Shining_star = df3.sort_values(by=['Previous Geekions'], ascending=False)
Shining_star.head(3)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN

# Department wise codekata performence (pie chart)

In [35]:
df3.groupby(['Department']).sum().plot(x='pie', y='CodeKata Score',
title='Department wise codekata performence')

KeyError: 'pie'